<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyh.linkhub.mapper.TagMapper">
    <select id="selectIdByName" resultType="java.lang.Long">
        SELECT id FROM tag WHERE name = #{name}
    </select>

    <insert id="insertIfNotExists">
        INSERT IGNORE INTO tag (name) VALUES (#{name})
    </insert>

    <select id="selectAll" resultType="java.lang.String">
        SELECT name FROM tag
        WHERE id IN (SELECT DISTINCT tag_id FROM link_record_tag)
        ORDER BY id
    </select>

    <select id="selectUnusedTagIds" resultType="java.lang.Long">
        SELECT t.id
        FROM tag t
        LEFT JOIN link_record_tag lrt ON t.id = lrt.tag_id
        WHERE lrt.tag_id IS NULL
    </select>

    <delete id="deleteByIds">
        DELETE FROM tag WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
